.signUpIn_main{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    
}

.signIn_main{
    width: 60%;
    color: black;
    display: flex;
    justify-content: flex-start;

    flex-direction: column;
}

.sideBanner{
    width: 40%;
    background-color: #B5ECEA;
    height: 88vh;
}
.sidebanner-image{
    height: 88vh;
    width: 100%;
}
.header-logo{
    width: 6%;
    height: 7vh;
    padding: 2vh;
}
.headerBar{
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#B5ECEA;
}
.header_form{
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: row;
    background-color:#B5ECEA;
}
.sign_button{
    font-size: medium;
    margin-right: 2vh;
    margin-top: 2vh;
    height: fit-content;
    padding: 1.5vh 4vh 1.5vh 4vh;
    font-weight: 600;
    color: white;
    border-radius: 3%;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.sign_button:hover{
    color: white;
    border-radius: 3%;
    background-color: blue;
}
.form_group{
    margin-top: 5vh;
    width:80% ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.tag_line{
    width: 80%;
    font-weight: 600;
    font-size: xxx-large;
    text-align:start;
    color: black;
}
.input_div{
    width: 80%;

    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}
.label{
    display: flex;
    font-size: larger;
}
.input_field{
    width: 100%;
    padding: 1.5vh 2vh 1.5vh 2vh;
    font-size: larger;
    outline: 1px mediumblue;
}
.signUP_button{
    width: 25%;
    font-size: larger;
    margin-right: 2vh;
    margin-top: 2vh;
    height: fit-content;
    padding: 1.5vh 4vh 1.5vh 4vh;
    font-weight: 600;
    color: white;
    border-radius: 3%;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
}
.signUP_button:hover{
    color: white;
    border-radius: 3%;
    background-color: blue;
}
.forgot_password{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: underline mediumblue;
    color: mediumblue;
    font-size: medium;
    margin-top: 1vh;
}